@font-face {
  font-family: Gelion;
  src: url("../fonts/gellion/Gelion-Regular.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  background-color: rgb(247, 236, 224);
}

h1 {
  font-size: 3rem;
  padding: 2% 0 0 0;
}

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
  color: rgb(29, 129, 101);
}
h3 {
  text-transform: uppercase;
  color: rgb(29, 129, 101);
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-top: 0;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  &__container {
    &--base {
      position: fixed;
      z-index: 1;
      top: 0;
      height: 115px;
      padding-top: 40px;
      justify-content: space-between;
      background-color: rgb(29, 129, 101);
      box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.84);
      & > div > a {
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        color: rgb(247, 236, 224);
        font-size: medium;
        font-size: 1.5rem;
        &:hover {
          color: #d3c1ad;
        }
      }
    }
  }

  &__logo {
    &--base {
      position: absolute;
      top: 5px;
      left: 55px;
      height: 100px;
    }
  }

  &__home {
    &-container {
      &--base {
        display: flex;
        width: 40%;
        height: 100%;
        justify-content: center;
      }
    }
  }

  &__link {
    &-container {
      &--base {
        display: flex;
        width: 40%;
        height: 100%;
        justify-content: space-evenly;
      }
    }

    &--base {
    }
  }
}

.landing {
  &__container {
    &--base {
    }
  }
  &__parallax-container {
    &--base {
      width: 100%;
      height: 95vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__about {
    &--base {
      padding: 5% 5% 5%;
    }
    &-title {
      &--base {
        padding-bottom: 5%;
      }
    }
    &-container {
      &--base {
        padding: 0 5%;
        width: 70%;
        font-size: 1.2rem;
        & > div > h3 {
          margin-top: 15px;
        }
      }
    }
    &-image {
      &--base {
        padding: 20px;
        height: 300px;
        margin-bottom: 30px;
        & > img {
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }

  &__products {
    &--base {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2% 5% 0 5%;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
  &__product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 425px;
    justify-content: center;
    align-items: flex-start;
    &-image {
      width: 350px;
      height: 350px;
      object-fit: cover;
      justify-self: flex-start;
      align-self: center;
      &--left {
        //border: 10px solid rgb(232, 151, 7);
      }
      &--right {
        //border: 10px solid rgb(29, 129, 101);
      }
    }

    &-info {
      &--base {
        display: flex;
        flex-direction: column;
        padding: 5% 15% 15%;
        font-size: 1.2rem;
      }
    }

    &-description {
      &--base {
      }
    }
  }
}

#products {
  padding-top: 145px;
}

#contact {
  padding: 2% 2% 15px;
  background-color: rgb(247, 236, 224);
  color: rgb(29, 129, 101);
}

#contact h2 {
  color: rgb(29, 129, 101);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact h3 {
  color: rgb(29, 129, 101);
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact a {
  text-decoration: none;
  color: rgb(29, 129, 101);
  &:hover {
    color: rgb(29, 129, 101);
  }
}

#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 20px 0;
  background: transparent;
  color: rgb(29, 129, 101);
  border: 2px solid rgb(29, 129, 101);
}
#contact .btn-custom:hover {
  color: rgb(247, 236, 224);
  background: rgb(29, 129, 101);
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}

#contact .form-control {
  font-family: "Open-Sans", sans-serif;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control:-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control::-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control:-ms-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}

#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgb(29, 129, 101);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item .fa {
  margin-right: 10px;
}
#contact .social {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
  & > ul {
    padding: 0;
  }
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social .fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid rgb(29, 129, 101);
  color: rgb(29, 129, 101);
  border-radius: 50%;
  transition: all 0.3s;
  &:hover {
    color: rgb(247, 236, 224);
    background: rgb(29, 129, 101);
  }
}

.contact {
  &__main {
    &--base {
      display: flex;
      flex-direction: column;
      width: 75%;
    }
  }
  &__title {
    &--base {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    &-row {
      &--base {
        justify-content: space-between;
      }
    }
    &--base {
      width: 49%;
    }
  }

  &-info {
    padding: 0 2%;
    align-self: flex-start;
  }

  &__button {
    &--base {
      font-family: "Open-Sans", sans-serif;
      color: rgb(29, 129, 101);
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: lighter;
      padding: 2% 5%;
      margin-top: 3%;
      border-radius: 25px;
      background-color: rgba(43, 43, 43, 0.911);
      &:hover {
        background-color: rgba(59, 59, 59, 0.849);
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    &__logo {
      &--base {
        position: absolute;
        top: 5px;
        left: 25px;
      }
    }

    &__home {
      &-container {
        &--base {
          width: 25%;
        }
      }
    }

    &__link {
      &-container {
        &--base {
          width: 75%;
          font-size: 1.2rem;
        }
      }
    }
  }

  .contact__main--base {
    width: 90%;
  }

  .landing__parallax-container--base {
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
  }

  .landing__about-container--base {
    padding: 0;
    & > div > h3 {
      padding-top: 30px;
    }
  }
}
