* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

h1 {
  font-size: 3rem;
  padding: 2% 0 0 0;
}

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
ul {
  list-style: circle;
}
li {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#contact {
  padding: 2% 2% 15px;
  background: linear-gradient(
    to bottom right,
    rgb(58, 58, 58) 0%,
    rgb(32, 32, 32) 100%
  );
  color: rgba(255, 255, 255, 0.75);
}

#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#contact h3 {
  color: #fff;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  &:hover {
    color: rgba(255, 255, 255, 0.9);
  }
}

#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 30px 0;
  background: transparent;
  border: 2px solid #fff;
}
#contact .btn-custom:hover {
  color: #333333;
  background: #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
textarea {
  font-family: inherit;
  font-size: inherit;
  font-family: "Open Sans", sans-serif;
}

#contact .form-control {
  font-family: "Open-Sans", sans-serif;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control:-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control::-moz-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}
.form-control:-ms-input-placeholder {
  font-family: "Open-Sans", sans-serif;
  color: #777;
}

#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item .fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 25px;
  margin-top: 25px;
  text-align: center;
  & > ul {
    padding: 0;
  }
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social .fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.contact {
  &__main {
    &--base {
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    &--base {
      display: flex;
      flex-direction: column;
    }
  }

  &__input {
    &-row {
      &--base {
        justify-content: space-between;
      }
    }
    &--base {
      width: 49%;
    }
  }

  &-info {
    padding: 0 2%;
  }

  &__button {
    &--base {
      font-family: "Open-Sans", sans-serif;
      color: #ffffff;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: lighter;
      padding: 2% 5%;
      margin-top: 3%;
      border-radius: 25px;
      background-color: rgba(43, 43, 43, 0.911);
      &:hover {
        background-color: rgba(59, 59, 59, 0.849);
      }
    }
  }
}
